<a href="https://colab.research.google.com/github/FernandaFragoso9/Proyecto-Unidad-2-DEV.F/blob/main/Ejercicio_extra_M%C3%B3dulo_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Ejercicio Extra Módulo 2**

In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
df= pd.read_csv('data.csv')
df.columns

Index(['Marca temporal',
       'Escribe un alias de al menos 3 caracteres (Sólo tú sabrás quién eres)',
       '¿Cuál es tu género?', 'Cuál es tu rango de edad',
       '¿Qué porcentaje del tiempo te consideras introvertido/a? [Intro]',
       '¿Qué porcentaje del tiempo te consideras introvertido/a? [Extro]',
       '¿Cuántas horas duermes en promedio en una semana?',
       '¿A qué hora te acuestas en promedio en una semana?',
       '¿Cuántos países has visitado?',
       'En la escala del 1 al 5 ¿Qué nivel de inseguridad sientes al vivir en tu país de nacimiento? (1 muy seguro - 5 muy inseguro)',
       '¿En qué estado (geográfico) has vivido la mayor parte de tu vida?',
       '¿Cuántas frutas comes en un día?', 'Escoge uno',
       'Nombra tus 3 shows, series, películas o animes favoritos separados por comas (Ej. Harry Potter, Game of Thrones, Pokémon)',
       '¿Qué otra pregunta te gustaría incluir?'],
      dtype='object')

In [3]:
#Hacemos una pequeña limpieza del DF
#Renombramos las columnas por nombres más amigables para el tecleo xd
#Los datos vacíos por el momento los remplazamos por 0s
df= df.rename(columns={'Escribe un alias de al menos 3 caracteres (Sólo tú sabrás quién eres)':'Alias','¿Cuál es tu género?':'Genero','Cuál es tu rango de edad':'Rango_Edad','¿Qué porcentaje del tiempo te consideras introvertido/a? [Intro]':'Porcentaje_Intro','¿Qué porcentaje del tiempo te consideras introvertido/a? [Extro]':'Porcentaje_Extro','¿Cuántas horas duermes en promedio en una semana?':'Horas_durm','¿A qué hora te acuestas en promedio en una semana?':'Hora_durmicion','¿Cuántos países has visitado?':'Paises_visit','En la escala del 1 al 5 ¿Qué nivel de inseguridad sientes al vivir en tu país de nacimiento? (1 muy seguro - 5 muy inseguro)':'Escala_ins_pais','¿En qué estado (geográfico) has vivido la mayor parte de tu vida?':'Estado_geo','¿Cuántas frutas comes en un día?':'Num_frutas','Escoge uno':'Animales','Nombra tus 3 shows, series, películas o animes favoritos separados por comas (Ej. Harry Potter, Game of Thrones, Pokémon)':'Shows_fav'})
df= df.fillna(0)
df.columns
df['Shows_fav']=df['Shows_fav'].astype(str)
df['Shows_fav']=df['Shows_fav'].map(lambda x: x.replace(' y ',','))

In [4]:
#Limpieza de columna Horas_durm
df['Horas_durm']=df['Horas_durm'].astype(str)
df['Horas_durm']=df['Horas_durm'].str.extract((r'(\d+)'))
df['Horas_durm']=df['Horas_durm'].astype(int)

In [5]:
#Limpieza de columna Paises_visit
df['Paises_visit']=df['Paises_visit'].astype(str)
df['Paises_visit']=df['Paises_visit'].str.extract((r'(\d+)'))
df['Paises_visit']=df['Paises_visit'].astype(int)

In [6]:
#Limpieza de columna Estado_geo 
df['Estado_geo']=df['Estado_geo'].str.upper()
for i in range(len(df['Estado_geo'])):
  df['Estado_geo'][i]=df['Estado_geo'][i].strip()

df['Estado_geo']=df['Estado_geo'].str.replace('CIUDAD DE MÉXICO','CDMX').replace('EDOMEX','ESTADO DE MÉXICO')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [7]:
#Eliminar datos extra en la columna Porcentaje Intro y extro
df['Porcentaje_Intro']=df['Porcentaje_Intro'].astype(str)
df['Porcentaje_Intro']=df['Porcentaje_Intro'].map(lambda x: x.replace('%',''))
df['Porcentaje_Intro']=df['Porcentaje_Intro'].astype(int)

In [8]:
df['Porcentaje_Extro']=df['Porcentaje_Extro'].astype(str)
df['Porcentaje_Extro']=df['Porcentaje_Extro'].map(lambda x: x.replace('%',''))
df['Porcentaje_Extro']=df['Porcentaje_Extro'].astype(int)

In [9]:
#Rellenar los datos faltantes de cada porcentaje
for i in range(len(df['Porcentaje_Intro'])):
   if df['Porcentaje_Intro'][i] == 0:
     df['Porcentaje_Intro'][i]=(100-df['Porcentaje_Extro'][i])
   else:
     pass
for i in range(len(df['Porcentaje_Extro'])):
   if df['Porcentaje_Extro'][i] == 0:
     df['Porcentaje_Extro'][i]=(100-df['Porcentaje_Intro'][i])
   else:
     pass

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [10]:
#Hacer una columnna por cada show
#eliminamos columnas innecesarias
shows=df['Shows_fav'].str.split(',',expand=True)
shows.columns=['Show1','Show2', 'Show3','nulo']

df= pd.concat([df, shows], axis=1)
df.drop(columns=['Marca temporal','nulo','Shows_fav','¿Qué otra pregunta te gustaría incluir?'], inplace=True)

In [11]:
#Correción de errores humanos
df=df.replace('Game of throne','Game of thrones').replace('How i metí Your mother','How i met Your mother').replace('How I Meet your Mother','How i met Your mother').replace('HIMYM','How i met Your mother').replace(' AoT','Shingeki No Kiojin').replace('Theory big bang','The Big Bang Theory').replace(' Naruto.','Naruto').replace('Full Metal Alchemist Brotherhood','Full Metal Alchemist').replace('GOT','Game of thrones').replace('Pokemon','Pokémon').replace('Lord of the Rings','The Lord of the rings')

In [12]:
#Pasamos todo a mayúsculas y eliminamos espacios en blanco
df_=df.copy()
df_['Show1']=df_['Show1'].astype(str)
df_['Show2']=df_['Show2'].astype(str)
df_['Show3']=df_['Show3'].astype(str)
df_['Show1']=df_['Show1'].str.upper().map(lambda x: x.strip())
df_['Show2']=df_['Show2'].str.upper().map(lambda x: x.strip())
df_['Show3']=df_['Show3'].str.upper().map(lambda x: x.strip())

In [13]:
df_.insert(15, "Puntos", 0, allow_duplicates=False) #en la posicion 15, llamada puntos, donde todos los valores son 0
df_["Puntos"]=df_["Puntos"].astype(int)

In [25]:
#Creamos una función llamada "Tu_match_perfecto" para encontrar a la persona más parecida a ti en el cuestionario 
def Tu_match_perfecto(Alias):
  #Encontramos al alias en el DF y generamos un DF de él.
  persona = df_.loc[df_['Alias']==Alias]
  #columnas que queremos eliminar 
  columnas=['Genero', 'Rango_Edad', 'Porcentaje_Intro', 'Porcentaje_Extro',
       'Horas_durm', 'Hora_durmicion', 'Paises_visit', 'Escala_ins_pais',
       'Estado_geo', 'Num_frutas', 'Animales', 'Show1', 'Show2', 'Show3']
  #Se crea un DF por columna a separar y se le suma 1 
  P1=df_.loc[df_["Genero"]==persona["Genero"].item()]
  P1.drop(columns=columnas,inplace=True)
  P1["Puntos"]=+1
  P2=df_.loc[df_["Rango_Edad"]==persona["Rango_Edad"].item()]
  P2.drop(columns=columnas,inplace=True)
  P2["Puntos"]=+1
  P3=df_.loc[df_["Porcentaje_Intro"]==persona["Porcentaje_Intro"].item()]
  P3.drop(columns=columnas,inplace=True)
  P3["Puntos"]=+1
  P4=df_.loc[df_["Horas_durm"]==persona["Horas_durm"].item()]
  P4.drop(columns=columnas,inplace=True)
  P4["Puntos"]=+1
  P5=df_.loc[df_["Paises_visit"]==persona["Paises_visit"].item()]
  P5.drop(columns=columnas,inplace=True)
  P5["Puntos"]=+1
  P6=df_.loc[df_["Escala_ins_pais"]==persona["Escala_ins_pais"].item()]
  P6.drop(columns=columnas,inplace=True)
  P6["Puntos"]=+1
  P7=df_.loc[df_["Estado_geo"]==persona["Estado_geo"].item()]
  P7.drop(columns=columnas,inplace=True)
  P7["Puntos"]=+1
  P8=df_.loc[df_["Num_frutas"]==persona["Num_frutas"].item()]
  P8.drop(columns=columnas,inplace=True)
  P8["Puntos"]=+1
  P9=df_.loc[df_["Animales"]==persona["Animales"].item()]
  P9.drop(columns=columnas,inplace=True)
  P9["Puntos"]=+1
  P10=df_.loc[df_["Porcentaje_Extro"]==persona["Porcentaje_Extro"].item()]
  P10.drop(columns=columnas,inplace=True)
  P10["Puntos"]=+1
  #se crea nuevo DF y se mergean los anteriores para al final proceder a sumar los puntos y eliminar las columnas inecesarias
  PT=pd.merge(P1, P2,
  how='outer', on='Alias')
  PT=pd.merge(PT, P3,
  how='outer', on='Alias')
  PT=pd.merge(PT, P4,
  how='outer', on='Alias')
  PT=pd.merge(PT, P5,
  how='outer', on='Alias')
  PT=pd.merge(PT, P6,
  how='outer', on='Alias')
  PT=pd.merge(PT, P7,
  how='outer', on='Alias')
  PT=pd.merge(PT, P8,
  how='outer', on='Alias')
  PT=pd.merge(PT, P9,
  how='outer', on='Alias')
  PT=pd.merge(PT, P10,
  how='outer', on='Alias')
  PT=PT.fillna(0)
  PT['Puntos_total'] = PT.sum(axis = 1)
  PT.drop(columns=['Puntos_x', 'Puntos_y', 'Puntos_x', 'Puntos_y', 'Puntos_x','Puntos_y', 'Puntos_x', 'Puntos_y', 'Puntos_x', 'Puntos_y'], inplace=True)
  #se crea DF por show a comparar y se le suma 1 punto
  S1=df_.loc[(df_["Show1"]==persona["Show1"].item())|(df_["Show1"]==persona["Show2"].item())|(df_["Show1"]==persona["Show3"].item())]
  S1.drop(columns=columnas,inplace=True)
  S1["Puntos"]=+1
  S1

  S2=df_.loc[(df_["Show2"]==persona["Show1"].item())|(df_["Show2"]==persona["Show2"].item())|(df_["Show2"]==persona["Show3"].item())]
  S2.drop(columns=columnas,inplace=True)
  S2["Puntos"]=+1
  S2

  S3=df_.loc[(df_["Show3"]==persona["Show1"].item())|(df_["Show3"]==persona["Show2"].item())|(df_["Show3"]==persona["Show3"].item())]
  S3.drop(columns=columnas,inplace=True)
  S3["Puntos"]=+1
  S3

  #se crea nuevo DF y se mergean los anteriores para al final proceder a sumar los puntos y eliminar las columnas inecesarias
  ST=pd.merge(S1, S2,
  how='outer', on='Alias')
  ST=pd.merge(ST, S3,
  how='outer', on='Alias')
  ST=pd.merge(ST, df_,
  how='outer', on='Alias')
  ST.drop(columns=columnas,inplace=True)

  ST=ST.fillna(0)
  ST['Puntos_total_S'] = ST.sum(axis = 1)

  ST.drop(columns=['Puntos_x', 'Puntos_y', 'Puntos_x', 'Puntos_y', 'Puntos_x','Puntos_y', 'Puntos_x', 'Puntos_y'], inplace=True)
  #se mergean los DF con las sumas y se vuelven a sumar y eliminar columnas inecesarias, se acomoda de mayor a menor
  PT=pd.merge(PT, ST,
  how='outer', on='Alias')
  PT=PT.fillna(0)
  PT['Porcentaje de compatibilidad'] = PT.sum(axis = 1)
  PT.drop(columns=['Puntos_total', 'Puntos_total_S'], inplace=True)
  PT.sort_values('Porcentaje de compatibilidad', ascending=False,inplace=True)
  #se elimina la fila del usuario que se está buscando
  PT=PT.loc[PT['Porcentaje de compatibilidad']<13]
  #se combierte a porcentaje el resultado
  PT['Porcentaje de compatibilidad']=((PT['Porcentaje de compatibilidad']/13)*100).round(2).astype(str) + '%'

  return PT

In [26]:
Tu_match_perfecto('Heri')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:46: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Puntos_x'} in the result is deprecated and will raise a MergeError in a future version.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:50: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Puntos_x'} in the result is deprecated and will raise a MergeError in a future version.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:54: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Puntos_x'} in the result is deprecated and will raise a MergeError in a future version.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:58: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Puntos_x'} in the result is deprecated and will raise a MergeError in a future version.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:60: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:84: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Puntos_x'} in the result is deprecated and will raise a MergeError in a future version.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:88: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:95: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

                Alias Porcentaje de compatibilidad
14                EMS                       61.54%
24                Abl                       53.85%
32                IOM                       46.15%
2              Ricksi                       46.15%
5                 gin                       46.15%
17                Kdt                       46.15%
34                mel                       46.15%
18               Hiro                       38.46%
29           Edificio                       38.46%
9                 ola                       38.46%
20               Isan                       38.46%
31                GHR                       30.77%
0                Yuma                       30.77%
28                Jsp                       30.77%
25                Vic                       30.77%
30                Fro                       30.77%
13                Lis                       30.77%
33             0L9N5E                       30.77%
8               Flavy                       30.77%
37              tocho                       30.77%
6                 Yoo                       30.77%
26                dmn                       30.77%
27                ARR                       23.08%
36             MONKEY                       23.08%
39                CVZ                       23.08%
40                Day                       23.08%
23                asd                       23.08%
21  smash google carl                       23.08%
19               AAGC                       23.08%
16            Antovan                       23.08%
15                HCR                       23.08%
11                Har                       23.08%
4               Tiki                        23.08%
1                   G                       15.38%
3                mapa                       15.38%
43                Joe                       15.38%
22                Axl                       15.38%
41         Will Smith                       15.38%
42                ALF                        7.69%
7             Nómada                         7.69%
38               Raab                        7.69%
10              fetse                        7.69%
35            El inge                        7.69%
44                 KR                         0.0%
45               redo                         0.0%
46             PONCHO                         0.0%

In [30]:
Andy=df_.loc[(df_["Genero"]=="Femenino")&(df_["Estado_geo"]=="CDMX")&(df_["Paises_visit"]>2)&((df_["Show1"]=="HARRY POTTER")|(df_["Show2"]=="HARRY POTTER")|(df_["Show3"]=="HARRY POTTER"))]
JC=df_.loc[(df_["Genero"]=="Masculino")&(df_["Estado_geo"]=="CDMX")&((df_["Show1"]=="ONE PIECE")|(df_["Show2"]=="ONE PIECE")|(df_["Show3"]=="ONE PIECE"))]

In [31]:
JC

,Alias,Genero,Rango_Edad,Porcentaje_Intro,Porcentaje_Extro,Horas_durm,Hora_durmicion,Paises_visit,Escala_ins_pais,Estado_geo,Num_frutas,Animales,Show1,Show2,Show3,Puntos
4,Edificio,Masculino,25 - 29,60,40,7,11:30:00 a. m.,10,3,CDMX,4.0,Perrito,ONE PIECE,THE OFFICE,SHINGEKI NO KIOJIN,0

In [32]:
Andy

,Alias,Genero,Rango_Edad,Porcentaje_Intro,Porcentaje_Extro,Horas_durm,Hora_durmicion,Paises_visit,Escala_ins_pais,Estado_geo,Num_frutas,Animales,Show1,Show2,Show3,Puntos
37,Heri,Femenino,20 - 24,60,40,7,1:00:00 a. m.,6,3,CDMX,1.0,Gatito,HARRY POTTER,THE BIG BANG THEORY,THE GOOD DOCTOR,0